#navID
{
    height: 100px;
}

#logoID
{
    padding-left: 630px;
    text-align: center;
    font-size: 30px;
}
#car1
{
    padding-left: 120px;
}

#tempID
{
    padding-left: 600px;
    padding-top: 50px;
}
#test
{
    padding-top: 100px;
}

